.loginPage {
    background: url("../../public/Images/Trinity Food Pantry.png");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("../../public/Images/Trinity Food Pantry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

/* Sidebar gradient for a more dynamic look */
.bg-dark {
    background: linear-gradient(to bottom, #333, #1a1a1a); /* Smooth gradient from a lighter to a darker shade */
    color: #fff; /* Ensures text is bright and readable */
}

/* Text and link styling to maintain contrast and visibility */
.text-white, .nav-link.text-white {
    color: #fff; /* Keeps text clearly visible against the darker background */
}

.nav-link {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 8px; /* Slightly rounded edges for a softer look */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    background-color: transparent; /* Default background transparent to highlight the gradient */
}

.nav-link:hover, .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.1); /* Slight white tint on hover for visual feedback */
    color: #e0e0e0; /* Light grey color for text on hover to maintain readability */
}

/* Main content header with a subtle gradient */
.main-content-header {
    background: linear-gradient(to right, #4e4e50, #383838); /* Horizontal gradient for the header */
    color: #fff;
    padding: 12px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow for a floating effect */
    font-weight: bold;
}

/* Enhancements for interactive elements like buttons */
.btn-outline-secondary {
    border: 1px solid #fff; /* White border for visibility */
    color: #fff; /* White text for clarity */
}

.btn-outline-secondary:hover {
    background-color: #fff;
    color: #20232a;
}




/*.nav-link:hover {*/
/*    background-color: #1a1a1a; !* Darker background on hover *!*/
/*    border-radius: 5px; !* Rounded corners for a modern look *!*/
/*}*/

/*.nav-link .bi {*/
/*    width: 1.5rem; !* Ensure all icons are uniformly sized *!*/
/*    text-align: center;*/
/*}*/
